<div class="container p-4">
    <div class="row justify-content-center">
      <div class="col text-center">
        <a routerLink="my-products" class="list-group-item list-group-item-action">My products</a>
      </div>
      <div class="col text-center">
        <a class="list-group-item list-group-item-action">A second link item</a>
      </div>
      <div class="col text-center">
        <a routerLink="my-profile" class="list-group-item list-group-item-action">My profile</a>
      </div>
      <div class="col text-center">
        <a routerLink="add-product" class="list-group-item list-group-item-action">Add Product</a>
      </div>
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>